.root{
	-fx-background-color: #202746;
}

.hbox{
	-fx-font-family: 'Bowlby One SC', cursive;
	-fx-background-color:  #202746;
	-fx-border-color: white;
	-fx-border-width: 0 0 1pt 0;
}

.hbox > .label{
    -fx-font-size: 25pt;
	-fx-font-weight: bold;
   	-fx-pref-width: 1080pt;
	-fx-pref-height: 100pt;
	-fx-text-fill: #ffffff;
}

.left{
    -fx-background-color: #202746;
	-fx-pref-width: 150pt; 
}

.vbox{
	-fx-font-family: 'Bowlby One SC', cursive;
	-fx-alignment: center;
	-fx-border-color: white;
	-fx-border-width: 0 1pt 0 0;
}

.vbox > .button{
	-fx-font-size: 14pt;
    -fx-pref-width: 150pt; 
	-fx-pref-height: 60pt;
	-fx-background-color: #293256;
	-fx-text-fill: #ffffff;
	-fx-border-color: black;
	-fx-border-width: 0 0 1pt 0;
}

.vbox > .button:hover{
	-fx-background-color: #202746;
	-fx-cursor: hand; 
}

.menu-button{
	-fx-font-size: 14pt;
    -fx-pref-width: 150pt; 
	-fx-pref-height: 60pt;
	-fx-background-color: #293256;
	-fx-cursor: hand; 
	-fx-border-color: black;
	-fx-border-width: 0 0 1pt 0;
}

.menu-button:hover{
	-fx-background-color:  #202746;
	-fx-cursor: hand; 
}

.menu-button .menu-item{
	-fx-border-color: #ffffff;
	-fx-pref-height: 30pt;
	-fx-background-color: #293958;
	-fx-padding: 5pt;
}

.menu-button .menu-item:hover{
	-fx-background-color: #202746;
	-fx-cursor: hand; 
}

.context-menu{
	-fx-background-color: #293256;
}

.menu-button .label{
	-fx-text-fill:  #ffffff;
	-fx-alignment: center;
}

.menu-button .text{
	-fx-text-alignment: center;
}

.anchorScroll{
	-fx-background-color:  #202746;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: white;
	-fx-border-width: 1pt 0 0 0;
	-fx-padding:0 20pt 0 20pt;
}

.scroll-bar{
    -fx-background-color: #293256;
    -fx-background-radius: 5pt;
    -fx-pref-width: 15pt;
}

.scroll-bar:hover{
	-fx-cursor: hand; 
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #202746;
    -fx-background-insets: 0 6 0 6;
    -fx-background-radius: 5pt;
}

.anchorImage{
	-fx-pref-width: 100pt;
	-fx-max-width: 100pt;
	-fx-min-width: 100pt;
	-fx-pref-height: 150pt;
	-fx-max-height: 150pt;
	-fx-min-height: 150pt;
	-fx-background-size: cover;
	-fx-border-color: #ffffff;
	-fx-border-radius: 10pt;
	-fx-background-radius: 10pt;
}

.coverAnchor{
	-fx-pref-width: 110pt;
	-fx-max-width: 110pt;
	-fx-min-width: 110pt;
	-fx-pref-height: 150pt;
	-fx-max-height: 150pt;
	-fx-min-height: 150pt;
	-fx-background-size: cover;
	-fx-border-color: #ffffff;
	-fx-border-radius: 10pt;
	-fx-background-radius: 10pt;
}

.anchorImage{
	-fx-border-width: 0pt 0pt 0pt 0pt;
}

.anchorImage:hover{
     -fx-cursor: hand; 
     -fx-border-width: 0pt 3pt 3pt 0pt;
}

.descriptionLabel{
	-fx-text-fill: white;
	-fx-max-width: 340pt;
	-fx-min-width: 340pt;
	-fx-min-height: 222pt;
	-fx-background-color:  #293256;
	-fx-cursor:default;
	-fx-padding: 10pt 20pt 10pt 15pt;
	-fx-font-size: 14pt;
	-fx-background-radius: 10pt;
}

.descriptionScroll{
	-fx-border-width: 1pt 1pt 1pt 1pt;
	-fx-border-radius: 10pt;
	-fx-background-radius: 10pt;
 	-fx-background-color: #293256;
}

.wButton{
	-fx-font-size: 14pt;
    -fx-pref-width: 140pt; 
	-fx-pref-height: 20pt;
	-fx-background-color: #293256;
	-fx-text-fill: #ffffff;
	-fx-border-color: white;
	-fx-border-width: 1pt 1pt 1pt 1pt;
	-fx-border-radius: 20px;
}

.wButton:hover{
	-fx-cursor: hand;
	-fx-background-color: #202746;
}
